html, body {
    height: 100%;
}

body {
    padding: 8px;
    background-color: #F6F6F6;
    box-sizing: border-box;
}

.split {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;
}

.content {
    border: 1px solid #C0C0C0;
    box-shadow: inset 0 1px 2px #e4e4e4;
    background-color: #fff;
}

.gutter {
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 50%;
}

.gutter.gutter-horizontal {
    cursor: col-resize;
    background-image: url('../img/vertical.png');
}

.gutter.gutter-vertical {
    cursor: row-resize;
    background-image: url('../img/horizontal.png');
}

.split.split-horizontal, .gutter.gutter-horizontal {
    height: 100%;
    float: left;
}

.topBar {
    height: 40px;
}

.splitContainer {
    overflow: hidden;
    height: calc(100% - 40px);
    display: flex;
}

#videoGrid {
    line-height: 0;
}

.thumbnail {
    display: inline-block;
}

.ui.attached.label, .ui.bottom.attached.label {
    width: 100%;
    position: absolute;
    margin: 0;
    top: 0;
    left: 3px;
    padding: .75em 1em;
    border-radius: 0;
    opacity: 0.7;
}

.ui.label {
    color: black;
}

.ui.bottom.right.attached.label {
    width: auto;
    margin-top: 0 !important;
    border-radius: 0;
}

#videoGrid img {
    margin-bottom: 3px;
    margin-top: 3px;
    margin-left: 3px;
    max-width: 200px;
}

.topBar .button {
    margin-left: 20px;
}

.videoContentContainer {
    padding: 20px;
}

.left {
    float: left;
}

.right {
    float: right;
}


/* MASONARY */
/*#videoGrid {*/
    /*line-height: 0;*/
    /*-moz-column-width: 13em;*/
    /*-webkit-column-width: 13em;*/
    /*-moz-column-gap: 1em;*/
    /*-webkit-column-gap: 1em;*/
/*}*/

/**, *:before, *:after {box-sizing:  border-box !important;}*/

/*.thumbnail {*/
    /*width:  100%;*/
    /*display: inline-block;*/
/*}*/