html, body {
    height: 100%;
}

body {
    padding: 8px;
    background-color: #F6F6F6;
    box-sizing: border-box;
}

#popup {
    width: 300px;
    /*max-height: 80%;*/
    /*overflow-y: scroll;*/
}

.welcome .header {
    text-align: center;
}

.split {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;
}

.content {
    border: 1px solid #C0C0C0;
    box-shadow: inset 0 1px 2px #e4e4e4;
    background-color: #fff;
}

.gutter {
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 50%;
}

.gutter.gutter-horizontal {
    cursor: col-resize;
    background-image: url('../img/vertical.png');
}

.gutter.gutter-vertical {
    cursor: row-resize;
    background-image: url('../img/horizontal.png');
}

.split.split-horizontal, .gutter.gutter-horizontal {
    height: 100%;
    float: left;
}

.topBar {
    height: 40px;
}

.splitContainer {
    overflow: hidden;
    height: calc(100% - 40px);
    display: flex;
}

#videoGrid {
    line-height: 0;
}

.thumbnail {
    display: inline-block;
}

#thumbnailSizeRange {
    width: 200px;
    display: inline-block;
}

.ui.attached.label, .ui.bottom.attached.label {
    width: 100%;
    position: absolute;
    margin: 0;
    top: 0;
    left: 3px;
    padding: .75em 1em;
    border-radius: 0;
    opacity: 0.7;
}

.ui.label {
    color: black;
}

.ui.bottom.right.attached.label {
    width: auto;
    margin-top: 0 !important;
    border-radius: 0;
}

#videoGrid img {
    margin-bottom: 3px;
    margin-top: 3px;
    margin-left: 3px;
}

#settingsPopup {
    text-align: center;
}

#settingsPopup label {
    font-weight: bold;
}

.videoBlock {
    display: block;
}

.topBar .button {
    margin-left: 2px;
}

.videoContentContainer {
    padding: 20px;
}

.left {
    float: left;
}

.right {
    float: right;
}

#searchBar {
    display: inline-flex;
    width: 50%;
}

.uploadBar {
    position: relative;
    width: 100%;
    border: 1px solid #ddd;
    height: 30px;
    background-color: rgba(221, 221, 221, 0.4);
}

.uploadProgress {
    position: absolute;
    height: 100%;
    line-height: 27px;
    width: 0;
    text-shadow: 1px 1px #000000;
    text-align: center;
    color: white;
}

.fileDone {
    background-color: rgba(56, 185, 66, 0.65);
!important;
}

.fileTranscoding {
    background-color: rgba(56, 131, 185, 0.65);
}

.fileUploading {
    background-color: rgba(185, 56, 56, 0.65);
!important;
}

/* Inset, by Dan Eden */
hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.videoBlock {
    margin-bottom: 30px;
}

.videoName {
    font-weight: bold;
}

.uploadedAt {
    display: block;
    margin-top: 20px;
}

.notes {
    display: block;
    color: #888;
    font-size: 20px;
    font-family: sans-serif;
}

.dz-preview {
    margin-bottom: 10px
}

/* MASONARY */
/*#videoGrid {*/
/*line-height: 0;*/
/*-moz-column-width: 13em;*/
/*-webkit-column-width: 13em;*/
/*-moz-column-gap: 1em;*/
/*-webkit-column-gap: 1em;*/
/*}*/

/**, *:before, *:after {box-sizing:  border-box !important;}*/

/*.thumbnail {*/
/*width:  100%;*/
/*display: inline-block;*/
/*}*/