<!DOCTYPE html>
<html lang="en">
<head>
    <title>Split.js</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css">
    <link rel="stylesheet" href="dist/semantic.min.css">
    <link rel="stylesheet" href="css/css.css">
    <link rel="stylesheet" href="css/plyr.css">
</head>
<body>
<div class="topBar">
    <div class="ui small fluid icon input">
        <input type="text" placeholder="Search...">
        <i class="search icon"></i>
        <button class="ui small labeled icon button">
            <i class="setting icon"></i>
            Settings
        </button>
        <button class="ui small blue labeled icon button">
            <i class="upload icon"></i>
            Upload
        </button>
    </div>
</div>

<div class="splitContainer">
    <div id="videoGrid" class="split content split-horizontal">
        <img v-on:click="handelThumbClick" v-on:mousemove="thumbnailScroll" src="
https://s3.amazonaws.com/idrsainput/output/{{video.Stamp}}%23{{video.DisplayKey}}%23_thumb00001.jpg"
             v-for="video in videos" data-size="{{video.PreTranscodeSize}}" data-name="{{video.Name}}"
             data-d_key="{{video.DisplayKey}}" data-stamp="{{video.Stamp}}" data-tcount="{{video.ThumbCount}}">
    </div>
    <div id="videoContent" class="split content split-horizontal">
        <div class="videoContentContainer">
            <div v-if="initialized">
                <video id="posterSrc"
                       poster="{{poster}}"
                       controls>
                    <source id="videoSrc" src="{{video}}" type="video/webm">
                </video>
                <div class="left">{{name}}</div>
                <div class="right"><a href="{{downloadLink}}">Download - {{downloadSize}}</a></div>
            </div>
            <div v-else>
                <h3>Click a video to get started</h3>
            </div>
        </div>
    </div>
</div>
</body>
<script src="js/jquery-2.2.3.min.js"></script>
<script src="js/split.js"></script>
<script src="js/plyr.js"></script>
<script src="js/vue.js"></script>
<script src="js/js.js"></script>
</html>
