<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Split.js</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css">
    <link rel="stylesheet" href="dist/semantic.min.css">
    <link rel="stylesheet" href="css/css.css">
    <link rel="stylesheet" href="css/plyr.css">
    <link rel="stylesheet" href="css/popup.min.css">
    <link rel="stylesheet" href="css/progress.min.css">
    <link rel="stylesheet" href="css/nouislider.css">
    <link rel="stylesheet" href="css/checkbox.min.css">
    <link rel="stylesheet" href="css/transition.min.css">
</head>
<body>
<div class="topBar">
    <div class="ui small fluid icon input" id="searchBar">
        <input type="text" placeholder="Search..." class="search" v-on:keyup="search">
        <i class="search icon"></i>
    </div>
    <div class="right">
        <button class="ui small labeled icon button settingsBtn">
            <i class="setting icon"></i>
            Settings
        </button>
        <div class="ui fluid popup" id="settingsPopup">
            <div id="thumbnailSizeRange"></div>
            <label>Thumbnail Size Range</label>
            <hr>
            <div class="ui toggle checkbox">
                <input type="checkbox" name="public">
                <label>Auto-refresh</label>
            </div>
        </div>
        <button class="ui small blue labeled icon button uploadBtn">
            <i class="upload icon"></i>
            Upload
        </button>
        <div class="ui popup" id="popup">
            <form action="https://s3.amazonaws.com/idrsainput/" class="dz"></form>
        </div>
    </div>
</div>
<div class="splitContainer">
    <div id="videoGrid" class="split content split-horizontal">
        <div class="thumbnail" v-for="video in videos" v-if="video.Processing == false">
            <div class="ui fluid image">
                <img v-on:click="handelThumbClick" v-on:mousemove="thumbnailScroll" src="
https://s3.amazonaws.com/idrsainput/output/{{video.Stamp}}%23{{video.DisplayKey}}%23_thumb00001.jpg"
                     data-notes="{{video.Notes}}"
                     data-size="{{video.PreTranscodeSize}}" data-name="{{video.Name}}"
                     data-d_key="{{video.DisplayKey}}" data-stamp="{{video.Stamp}}" data-tcount="{{video.ThumbCount}}"
                     data-uploaded_at="{{video.Uploaded_at}}" style="max-width: {{thumbnailSize}}px;">
                <div class="ui bottom right attached label">{{secondsToString(video.Length)}}</div>
            </div>
        </div>
    </div>
    <div id="videoContent" class="split content split-horizontal">
        <div class="videoContentContainer">
            <div v-if="initialized">
                <video id="posterSrc"
                       poster="{{poster}}"
                       controls>
                    <source id="videoSrc" src="{{video}}" type="video/webm">
                </video>
                <div class="videoData">
                    <div class="left"><span class="videoName">{{name}}</span> / {{TimeToFromNow(uploaded_at)}}</div>
                    <div class="right"><a href="{{downloadLink}}" download><i class="cloud download icon"></i> Download -
                        {{downloadSize}}</a>
                    </div>
                </div>
            <hr>
                <div class="left notes">
                    {{notes}}
                </div>
            </div>
            <div v-else>
                <div class="ui message welcome">
                    <div class="header">
                        Welcome
                    </div>
                    <hr>
                    <h4>This is an example of using Apex and AWS Lambda to produce scalable
                        upload, transcode, and distribution of video.</h4>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script src="js/jquery-2.2.3.min.js"></script>
<script src="js/split.js"></script>
<script src="js/plyr.js"></script>
<script src="js/vue.js"></script>
<script src="js/moment.js"></script>
<script src="js/dropzone.js"></script>
<script src="js/popup.min.js"></script>
<script src="js/transition.min.js"></script>
<script src="js/progress.min.js"></script>
<script src="js/nouislider.min.js"></script>
<script src="js/checkbox.min.js"></script>
<script src="js/js.js"></script>
</html>
